.campbanner-a{
    width: 100%;
    height: 400px;
    background: url(../images/camp-a.jpg) center/cover;
}
.campbanner-b{
    width: 100%;
    height: 400px;
    background: url(../images/camp-b.jpg) center/cover;
}
.campbanner-c{
    width: 100%;
    height: 400px;
    background: url(../images/camp-c.jpg) center/cover;
}
.campbanner-d{
    width: 100%;
    height: 400px;
    background: url(../images/camp-d.jpg) center/cover;
}
.campbanner-e{
    width: 100%;
    height: 400px;
    background: url(../images/camp-e.jpg) bottom/cover;
}
.campbanner-f{
    width: 100%;
    height: 400px;
    background: url(../images/camp-f.jpg) center/cover;
}